@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUpFadeIn {
  animation: slideUpFadeIn 1s ease-out forwards;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.8s ease-out forwards;
}



